<section class="tisso-vision-section">
    <div class="tisso-container">

        <div class="tisso-header">
            <h2>{{ section.settings.heading }}</h2>
        </div>

        <!-- Grid section -->

        <div class="tisso-grid">
            {% assign collection = collections[section.settings.collection] %}
            {% if collection != blank %}
                {% for product in collection.products limit: 6 %}
                    <div class="tisso-card">
                        <div class="tisso-image-wrapper">
                            <img src="{{ product.featured_image | image_url: width:800 }}" 
                                width="{{ product.featured_image.width }}"
                                height="{{ product.featured_image.height }}"
                                loading="lazy"
                                alt="{{  product.title }}">
                            
                            <button class="tisso-plus" type="button" data-product-id="product-{{ product.id }}">
                                <img src="{{ 'tisso-plus-icon.svg' | asset_url }}" 
                                width="15"
                                height="15"
                                alt="plus-icon">
                            </button>
                        </div>
                        <div id="product-{{ product.id }}" class="tisso-product-data" hidden >
                            <div class="product-info">
                                <div class="product-img-wrapper">
                                    <img src="{{ product.featured_image | image_url: width:500 }}" 
                                    width="500"
                                    height="500"
                                    alt="{{  product.title }}">
                                </div>
                                <div class="product-description"> 
                                    <h3>{{ product.title }}</h3>
                                    <div class="price">
                                    {{ product.price | money }}
                                    </div>

                                    <div class="description">
                                    {{ product.description | strip_html | truncate:150 }}
                                    </div>
                                </div>
                            </div>

                            <!-- Product Options -->

                            <div class="product-options">

                                {% for option in product.options_with_values %}
                                    {% if option.name == 'Color' %}

                                        <div class="color-option-title">
                                            Color
                                        </div>

                                        <div class="color-options">

                                            {% for value in option.values %}

                                                <button 
                                                    class="color-item"
                                                    data-color="{{ value }}"
                                                    style="--color: {{ value | downcase }};"
                                                >
                                                    {{ value }}
                                                </button>

                                            {% endfor %}

                                        </div>

                                    {% endif %}
                                {% endfor %}


                                {% for option in product.options_with_values %}
                                    {% if option.name == 'Size' %}

                                        <div class="size-option-title">
                                        Size
                                        </div>

                                        <div class="custom-size-dropdown">

                                        <div class="size-dropdown-selected">
                                            <span>Choose your size</span>
                                            <div class="size-arrow-container">
                                                <div class="size-arrow">
                                                    <img
                                                        src="{{ 'dropdown-arrow.svg' | asset_url }}"
                                                        alt="arrow"
                                                        width="100%"
                                                        height="100%"
                                                    >
                                                </div>
                                            </div>
                                            {% comment %} <span class="size-arrow"></span> {% endcomment %}
                                        </div>

                                        <div class="size-dropdown-options">

                                            {% for value in option.values %}
                                            <div class="size-option" data-value="{{ value }}">
                                                {{ value }}
                                            </div>
                                            {% endfor %}

                                        </div>

                                        </div>

                                    {% endif %}
                                {% endfor %}


                            </div>

                            <button 
                                class="view-product add-to-cart-btn"
                                data-product-id="{{ product.id }}"
                                data-variants='{{ product.variants | json }}'
                            >
                                ADD TO CART
                                <span>→</span>
                            </button>

                        </div>
                    </div>

                    <!-- Hidden Product Data -->

                    
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<!-- Popup -->

<div class="tisso-modal">
  <div class="tisso-overlay"></div>
  <div class="tisso-popup">
    <button class="tisso-close">
      <img
        src="{{ 'tisso-popup-close.svg' | asset_url }}"
        alt="close"
        loading="lazy"
        width="2000"
        height="auto"
        >
    </button>
    <div class="tisso-popup-content"></div>
  </div>
</div>

<style>

.tisso-container{
    width:100%;
    padding:90px 20px;
}

.tisso-header h2{
    font-family: "Jost", sans-serif;
    margin:0 0 30px;
    font-size:36px;
    font-weight:400;
    
}

.tisso-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.tisso-card{
    position:relative;
}

.tisso-image-wrapper{
    position:relative;
    overflow:hidden;
}

.tisso-image-wrapper img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.tisso-plus{
    position:absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    width:35px;
    height:30px;
    border-radius:50%;
    border:none;
    background-color:transparent;
    font-size:28px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:.3s;
}

/* Modal */

.tisso-modal{
    display:none;
    position:fixed;
    inset:0;
    z-index:9999;
}

.tisso-modal.active{
    display:block;
}

.tisso-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.5);
}

.tisso-close img{
  pointer-events: none;
}

.tisso-popup{
    position:relative;
    background:#fff;
    width:355px;
    max-width:700px;
    padding:40px 16px 30px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:2;
    box-shadow: 0px 2px 4px 0px #00000033;
}

.tisso-close{
    position:absolute;
    right:15px;
    top:15px;
    padding: 0;
    border:none;
    background:none;
    font-size:35px;
    cursor:pointer;
}

.product-info{
    display:grid;
    grid-template-columns:auto 1fr;
    gap:10px;
}

.product-description h3{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.product-description .price{
    font-family: "Lustria", serif;
    font-size:16px;
    font-weight:400;
    margin: 0 0 12px 0;
}

.product-description .description{
    font-family: "Jost", sans-serif;
    font-size:14px;
    font-weight:300;
    letter-spacing: 0;
    line-height:1.1;
}

.product-options{
    margin-top:20px;
}


.color-option-title{
    font-family:"Jost",sans-serif;
    font-size:14px;
    font-weight: 400;
    margin-bottom:8px;
}

.size-option-title {
    font-size: 14px;
    margin-bottom: 8px;
}

.custom-size-dropdown {
    position: relative;
    width: 100%;
    font-size: 13px;
}

.size-dropdown-selected {
    height: 40px;
    border: 0.5px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
    cursor: pointer;
    background: #fff;
}

.size-arrow-container{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}


.size-arrow-container .size-arrow {
    width: 12px;
    height: 6px;
    transition: .3s ease;
}


/* rotate arrow when open */
.custom-size-dropdown.active .size-arrow-container .size-arrow {
    transform: rotate(180deg);
    margin-top: -5px;
}


.size-dropdown-options {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    border: 1px solid #999;
    background: white;
    display: none;
    z-index: 10;
}


.custom-size-dropdown.active .size-dropdown-options {
    display: block;
}


.size-option {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
}


.size-option:hover {
    background: #000;
    color: #fff;
}


/* selected value */
.size-option.selected {
    background: #000;
    color: #fff;
}

.size-option-title{
    font-family:"Jost",sans-serif;
    font-size:14px;
    font-weight: 400;
    margin:10px 0 8px 0;
}


.color-options{
    display:flex;
    border:1px solid #222;
}


.color-item{
    position: relative;
    flex:1;
    height:40px;
    background:#fff;
    border:none;
    border-right:1px solid #222;
    font-family:"Jost",sans-serif;
    font-size:16px;
    cursor:pointer;
}

.color-item::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--color);
  position: absolute;
  left: 0;
  top: 0;
  border-right:1px solid #222;
}

.color-item.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.color-item:first-child{
    border-left-color:#1d4ed8;
}

.size-select{
    width:100%;
    height:45px;
    padding:0 15px;
    font-size:16px;
    font-family:"Jost",sans-serif;
    border:1px solid #999;
    background:white;
}

.product-img-wrapper{
    width:120px;
    height:140px;
}

.tisso-popup-content img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.view-product{
    display:inline-block;
    margin-top:40px;
    padding:12px 25px;
    background:#000;
    color:white;
    text-decoration:none;
    width: 100%;
    text-align: center;
}


@media(max-width:1024px){

    .tisso-container{
        padding:40px 20px;
    }

    .tisso-header h2{
        font-size:32px;
        text-align:center;
        margin:0 0 20px;
    }

    .tisso-grid{
        grid-template-columns:repeat(2,1fr);
        gap: 4px;
    }

    .tisso-plus{
        cursor: unset;
    }
}

@media(max-width:600px){

    .tisso-popup-content{
        grid-template-columns:1fr;
    }
}

</style>

<script>
document.addEventListener("click", function(event){

    // Open product popup
    const button = event.target.closest(".tisso-plus");

    if(button){

        const productId = button.getAttribute("data-product-id");
        const productData = document.getElementById(productId);

        if(productData){

            document.querySelector(".tisso-popup-content").innerHTML = productData.innerHTML;

            document.querySelector(".tisso-modal").classList.add("active");

        }

    }


    // Close popup
    if(event.target.closest(".tisso-close")){

        document.querySelector(".tisso-modal").classList.remove("active");
        document.querySelector(".tisso-popup-content").innerHTML = "";

    }



    // Color selection
    const color = event.target.closest(".color-item");

    if(color){

        color.parentElement.querySelectorAll(".color-item")
        .forEach(item=>{
            item.classList.remove("active");
        });

        color.classList.add("active");

    }



    // SIZE DROPDOWN OPEN
    const dropdownSelected = event.target.closest(".size-dropdown-selected");

    if(dropdownSelected){

        const dropdown = dropdownSelected.closest(".custom-size-dropdown");

        dropdown.classList.toggle("active");

    }



    // SIZE OPTION SELECT
    const sizeOption = event.target.closest(".size-option");

    if(sizeOption){

        const dropdown = sizeOption.closest(".custom-size-dropdown");

        const selectedText = dropdown.querySelector(
            ".size-dropdown-selected span:first-child"
        );


        selectedText.textContent = sizeOption.textContent;


        dropdown.querySelectorAll(".size-option")
        .forEach(option=>{
            option.classList.remove("selected");
        });


        sizeOption.classList.add("selected");


        dropdown.classList.remove("active");

    }



    // Close dropdown when clicking outside
    document.querySelectorAll(".custom-size-dropdown")
    .forEach(dropdown=>{

        if(!dropdown.contains(event.target)){

            dropdown.classList.remove("active");

        }

    });


});

</script>

{%  schema %}
{
    "name": "Tisso Grid",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Tisso vison in the wild"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
        }
    ],
    "presets": [
        {
            "name": "Tisso Grid"
        }
    ]
}
{% endschema %}
